/*nav bar*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: large;
  background-image: url("img/all.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.logo {
  width: 75px; 
  height: auto;
  margin-right: 10px; 
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #d7d7d7;
  color: #fff;
  padding: 10px;
}

.nav-item {
  text-decoration: none;
  color: #23ad38;
  padding: 8px 16px;
}

.nav-item:hover {
  background-color: #d7d7d7;
}
  /*logout btn*/
  header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
}

  #logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
/*table*/
.container {
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
    background-color: #333; 
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #801818;
}

td.datasheet {
    max-width: 160px; /* Adjust the maximum width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.button-form {
    margin-bottom: 10px; /* Adjust the margin as needed */
}
